@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');
.App {
  position: relative;
  text-align: center;
  margin:auto;
  margin-top:200px;
  padding:50px;
  width:500px;
  background-color: #37505C;
  border: 5px solid #96616B;
  border-radius: 10px;
}

#display{
  margin:auto;
  width: 100%;
  height: 100px;
  background-color: #F76F8E;
  border: 1px solid #FFEAD0;
  border-radius: 10px;
  overflow: auto;
}

h2{
  position:relative;
  top:30%;
}

.drum-pad{
  height:100px;
  width:100px;
  margin:5px;
  background-color: #F76F8E;
  border:none;
  border-radius: 10px;
  font-family: 'Sniglet', cursive;
  font-size: 30px;
}
.drum-pad:active{
  background-color: #FFEAD0;
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  margin: 0;
  vertical-align: top;
  background: #FFEAD0;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.toggle-button::after {
  content: "";

  display: inline-block;
  position: absolute;
  left: 2px;
  top: 1.5px;

  width: 20px;
  height: 20px;
  background-color: #37505C;
  border-radius: 5px;

  transform: translateX(0);
}
.toggle-button:checked::after {
  transform: translateX(calc(100% + 3px));
  background-color: #37505C;  
}
.toggle-button:checked {
  background-color: #FFEAD0;
}
label{
  color:black;
  font-size:20px;
}
.credits{
  text-align: center;
  margin-top: 30px;
  color: black;
  font-family: 'Sniglet', cursive;
  font-size: 20px;
}